/* button{
  background-color: red;
} */

button {
  border-radius: 5px;
  /* padding: 13px; */
  outline: none;
  /* width: 100%; */
}

button:disabled {
  opacity: 0.4;
  cursor: default;
}

.primary {
  background: #36b44a;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.outline,
.outlinePrimary {
  color: #344437;
  border: 1px solid #344437;
  background: transparent;
}

.danger {
  color: #ffffff;
  background: #ca0814;
  border: 1px solid transparent;
}

.dark {
  color: #ffffff;
  background: #2f3930;
  border: 1px solid transparent;
}

.danger-outline {
  color: #ca0814;
  background: transparent;
  border: 1px solid #ca0814;
}

.linkBtn {
  text-decoration: underline;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.link-primary {
  color: #36b44a;
}

.link-danger {
  color: #36b44a;
}

.backBtn {
  display: inline-flex;
  align-items: center;
  gap: 7px;
  margin: 20px 0 10px 0;
}

.backBtn p {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-decoration: underline;
}

@media screen and (max-width: 800px) {
  .outlinePrimary {
    background: #36b44a;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 17px;
  }

  .backBtn {
    gap: 5px;
  }

  .backBtn p {
    font-size: 15px;
    line-height: 15px;
  }
  .backBtn svg {
    width: 8px;
  }
}
