.page {
  padding: 100px 70px 45px 70px;
  overflow-y: auto;
  height: 100%;
}

.mobile {
  display: none;
}
/* .flexHeader img {
  width: 80px;
} */
.lg {
  display: flex;
  gap: 18px;
  justify-content: center;
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 18px 100px 10px 100px;
  position: absolute;
  z-index: 30;
  right: 0;
  left: 0;
  top: 0;
  background: #ffffff;
  box-shadow: 0px 1px 10px rgba(52, 68, 55, 0.1);
}

.flexHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  gap: 15px;
}
.flexHeaderRight {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: relative;
  gap: 15px;
}
.flexIcons {
  display: flex;
  position: relative;
}

.lg img {
  width: 53px;
  height: 53px;
  cursor: pointer;
}

.fixed {
  position: fixed;
  inset: 0;
}

.relative {
  position: relative;
  height: 100%;
  width: 100%;
}

.modalContainer {
  position: absolute;
  right: 0;
  top: 72px;
  background-color: white;
  box-shadow: 0px 1px 10px 2px rgba(52, 68, 55, 0.06);
  border-radius: 15px;
  width: 400px;
  padding: 10px 0;
}

.profileContainer {
  display: flex;
  padding: 20px;
  align-items: center;
  gap: 10px;
}

.profileContainer img {
  width: 70px;
  height: 70px;
  margin: 0 25px 0 10px;
}

.profileText h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 10px;
}

.profileText p {
  font-weight: 300;
  font-size: 16px;
  line-height: 10px;
}

.modalContainer button {
  border: none;
  padding: 9px 30px;
  display: block;
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
}

.profileLinksContainer {
  padding: 10px;
  display: block;
}

.linksContainer {
  display: flex;
  align-items: center;
}

.logoutContainer {
  padding: 10px 15px;
}

.searchBar {
  position: relative;
  width: 400px;
  height: 52px;
}

.searchBar input {
  width: 100%;
  height: 100%;
  padding: 5px 40px 5px 10px;
  border: 0.5px solid gainsboro;
  border-radius: 8px;
  outline: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}

.searchIcon {
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  height: 100%;
  /* padding: 2px 0 2px 0; */
  display: flex;
  align-items: center;
}

.linksContainer {
  font-weight: 500;
  font-size: 21px;
  line-height: 21px;
  margin-right: 30px;
}

.linksContainer span {
  margin: 0 5px;
  color: #2f3930;
}

.linksContainer .active {
  color: #36b44a;
  text-decoration: underline;
}

.flexIcons .btnCart {
  margin: 0 12px;
}

.imageHolder {
  background: rgb(187, 187, 187);
  color: black;
  font-weight: bold;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatarImage {
  background-position: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.nModal {
  position: absolute;
  right: 0;
  top: 72px;
  background-color: white;
}

.notificationsContainer {
  background-color: white;
  box-shadow: 0px 1px 10px 2px rgba(52, 68, 55, 0.06);
  border-radius: 15px;
  overflow-y: auto;
  height: 85%;
}

.notificationContainer {
  display: flex;
  align-items: center;
  padding: 10px 25px;
  gap: 15px;
  cursor: pointer;
}

.nIndicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.nTextArea h3 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}
.nTextArea p {
  font-size: 12px;
  font-weight: 400;
  color: #34443745;
}

.overlay {
  position: fixed;
  z-index: 50;
  inset: 0;
  background-color: #00000037;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.activeN {
  position: relative;
  margin: auto;
  width: 300px;
  box-shadow: 0px 1px 10px 2px rgba(52, 68, 55, 0.06);
  border-radius: 15px;
  background: #ffffff;
  padding: 20px;
}

.closeModalX {
  position: absolute;
  top: -20px;
  right: -20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px;
  display: inline-flex;
  align-items: center;
  border: 0.2px solid #34443743;
  background-color: white;
}

.closeModalX img {
  width: 20px;
  height: 20px;
}

.activeNFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.activeNFlex p {
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  color: #34443772;
  margin: 0;
}

.activeNFlex h3 {
  flex: 1;
}

h3,
h2,
p {
  margin: auto;
}

.miniNav {
  display: none;
}

@media screen and (max-width: 800px) {
  .flexHeader img {
    width: 80px;
  }
  .mobile {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .mobile img {
    width: 48px;
    height: 48px;
    margin-top: 4px;
    cursor: pointer;
  }
  .lg {
    display: none;
  }
  .page {
    padding: 110px 20px 45px 20px;
  }
  .headerContainer {
    padding: 22px 20px;
  }
  .mobileMenu {
    display: flex;
    margin-right: 7px;
    width: 100%;
    justify-content: end;
  }

  .linksContainer {
    display: none;
  }
  .flexIcons button {
    margin: 0;
  }

  .flexIcons img {
    margin-left: 5px;
  }
  .flexIcons .btnCart {
    margin: 0 4px;
  }
  .modalContainer {
    width: 300px;
  }

  .activeN {
    position: relative;
    width: 87%;
    padding: 50px 30px;
  }

  .activeN p {
    padding-top: 20px;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
  }
  .nModal {
    position: fixed;
    top: 15%;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    overflow: hidden;
  }
  .miniNav h3 {
    margin: auto;
    font-weight: 600;
    font-size: 19px;
    line-height: 21px;
  }
  .miniNav {
    padding-bottom: 30px;
    display: block;
  }
}
