.containerPart {
  background: #fdfffd;
  box-shadow: 0px 1px 25px rgba(52, 68, 55, 0.05);
  border-radius: 0px 0px 0px 60px;
  height: 60%;
  padding: 20px 80px;
}

.container {
  min-height: 100vh;
  position: relative;
}

.footer p {
  color: #344437;
  font-size: 0.7rem;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  position: absolute;
  bottom: 0;
  height: 2.5rem;
}

.dropletFlex {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0 70px 0;
}

.dropletFlex img {
  width: 5%;
  margin: 0 70px;
}

@media screen and (max-width: 800px) {
  .dropletFlex img {
    margin: 0 20px;
    width: 13%;
  }
  .dropletFlex {
    margin: 90px 0 30px 0;
  }
  .containerPart {
    padding: 0 10px;
  }

  .logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0 0 0;
  }

  .logoContainer img {
    width: 40%;
  }
}
