@import url(//db.onlinewebfonts.com/c/9e00143409affcb46a1ae58634aa64be?family=Sofia+Pro);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sofia pro";
}

.Toastify__toast-container {
  z-index: 1000;
}

.Toastify__toast {
  z-index: 1000;
}

svg {
  stroke: #344437;
}

.divider {
  opacity: 0.7;
  border-bottom: 0.5px solid lightgray;
}

.divider-dark {
  opacity: 0.5;
  border-bottom: 0.5px solid #344437;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  /* padding: 10px; */
  border-bottom: 1px solid rgba(52, 68, 55, 0.12);
  width: 100%;
}

th,
td {
  padding: 13px 30px;
  text-align: start;
  white-space: nowrap;
  color: #344437;
}

th {
  font-weight: 500;
  font-size: 19px;
  line-height: 21px;
}

td {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.table-wrapper {
  margin-top: 30px;
  box-shadow: 0px 1px 10px 2px rgba(52, 68, 55, 0.06);
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid rgba(52, 68, 55, 0.12);
}

.input-flex-btwn,
.flex-btwn {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.text-green {
  color: #36b44a;
}

.text-danger {
  color: #ca0814;
}
.text-dark {
  color: #2f3930;
}
.text-light {
  color: #acb5bd;
}

.w-50,
.w-50-lg {
  width: 50%;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex,
.flex-lg {
  display: flex;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.gap-50 {
  gap: 50px;
}

.w-full {
  width: 100%;
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: 40;
  background-color: rgba(0, 0, 0, 0.35);
}

.Tabletitle {
  font-weight: 500;
  font-size: 21px;
  line-height: 21px;
}

.TablesubText {
  font-weight: 300;
  font-size: 18px;
  line-height: 18px;
}

@media screen and (max-width: 800px) {
  .input-flex-btwn {
    display: block;
  }
  .w-50-lg {
    width: 100%;
  }
  .flex-lg {
    flex-direction: column;
  }

  th,
  td {
    padding: 12px 6px 12px 14px;
    text-align: start;
  }
  .sideBarContainer {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    width: 85%;
    z-index: 50;
  }
}
